.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  top: 64px;
  right: 0;
  z-index: 0; /* lower priority */
  transform: rotate(-15deg); /* Rotate  15 degrees counterclockwise */
}
