
.page {
  min-width: 1100px;
  /* we don't know how to make mobile versions of websites yet, */
  /* so here we've set a minimum page width */
  max-width: 1600px;
  /* here we've set a maximum page width */
  margin: 0 auto;
  /* this ensures that all content is centered on screens wider than 1600px */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

/*******************************************/
/************ Header **********************/
/*******************************************/

.header {
  background-color: #f2f2f2;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* parameters for the header section */
  position: relative; /* the parent */
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

.logo {
  width:  154px;
  height: 31px;
  background-size: contain;
  background-repeat: no-repeat;
}

.logo_place_header {
  background-image: url(../images/logo_place_header.png);
  position: absolute;
  top: 30px;
  left: 64px;
}

.header__title {
  width: 730px;
  margin: 0; /* reset  */
  margin-left: 64px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  z-index: 2; /* higher priority */
}

.header__subtitle {
  margin: 0; /* reset */
  width: 388px;
  position: absolute;
  bottom: 30px;
  left: 64px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  z-index: 2; /* higher priority */
}

.header__link{
  color: #2f80ed;
  text-decoration: none;
}

/* arrow sign */
.header__link::after {
  content: '  \2192';
}

.header__main-illustration {
  width: 756px;
  height: 608px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}

/* here we have two examples of selectors in order to remind you how to set styles for elements */
.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  top: 64px;
  right: 0;
  z-index: 0; /* lower priority */
}

/************************************************/
/****************** Sections *******************/
/************************************************/

.description {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

.two-columns {
  margin: 0 auto;
  width: 80%;
  display: flex; /* display the columns in line (the default is ro in flex direction*/
  justify-content: space-between;
}

.two-columns__brief {
  margin: 0; /* reset because of the browser default */
  width: 175px;
  color: #2f80ed;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.two-columns__main-text {
  margin-bottom: 0;
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  margin: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

/* put to all two-columns__paragraph : margin-bottom: 30px Except the last one */
.two-columns__paragraph:not(:last-of-type) {
  margin-bottom: 30px;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}

/***************************/
/****** Digits Section ****/
/***************************/
.digits {
 margin-top: 100px;
 display: flex;
 flex-direction: column;
 align-items: center;
}

/***************************/
/*  Generic Section       */
/************************/

.section-title {
  margin: 0;
  width: 60%;
  text-align: center;
  line-height: 69px;
  font-size: 60px;
  font-weight: bold;
}

.section-subtitle {
  width: 60%;
  margin: 20px 0 0;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

/***************************/
/*  Generic Table        */
/************************/

.table {
  width: 1100px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
}

.table__cell {
  width: 250px;
  margin: 60px 0 0;
}

.table__heading {
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__text {
  margin: 20px 0 0; /* reset left\right: 0 bottom: 0 */
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

/********************/
/* Feynman Section */
/******************/

.feynman {
  background-color: #f2f2f2;
  margin-top: 100px;
  background-image: url(../images/feynman.png);
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 867px 637px;
  padding-top: 100px;
  min-height: 790px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}

.feynman__title {
  width: 775px;
  margin: 0; /* reset (you can replace it with the value 0 auto) */
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  text-align: center;
}

.feynman__subtitle {
  margin: 70px 0 0; /* reset left/right: 0  bottom: 0*/
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-align: center;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  text-decoration: none;
  color: #2f80ed;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

/* arrow sign */
.feynman__link::after {
  content: '  \2192';
}

/******************/
/* Kaufman Section */
/******************/
.kaufman {
  background-color: #1f1f1f;
  padding: 90px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
}

/**************/
/* Theme Dark */
/**************/

.section-title_theme_dark {
 color: white;
 z-index: 1;
}

.section-subtitle_theme_dark {
  color: white;
  z-index: 1;
}

.table_theme_dark {
  margin: 0 auto;
}

/* including elements with key-value modifiers */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
  z-index: 1;
}

.kaufman__triangle {
  width: 660px;
  height: 636px;
  position: absolute;
  right: -124px;
  top: 0;
}

/*****************************/
/******** Footer *************/
/*****************************/
.footer {
  box-sizing: border-box;
  background-color: #1f1f1f;
  padding: 60px 0 40px;
  min-height: 350px;
  display: flex;
  color: white;
}

.footer__columns {
  margin: 0 auto;
  width: 90%;
  display: flex;
  justify-content: space-between;
}


.footer__column_content_copyright {
 display: flex;
 flex-basis: 711px;
 flex-direction: column;
 justify-content: space-between;
}

.logo_place_footer {
  background-image: url(../images/logo_place_footer.png);
  width:  183px;
  height: 35px;
}

.footer__author {
  margin: 18px 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

/* copyright sign */
.footer__author::before {
 content:'  \00a9';
}

.footer__column-heading {
  margin: 0 0 20px; /* reset top:0 left/right: 0 */
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
}

.footer__list {
  padding: 0;
  margin: 0; /* reset */
  list-style-type: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-link {
  display: block;
  text-decoration: none;
  color: white;
}

.footer__social-icons {
  margin-right: 10px;
  height: 16px;
  width: 16px;
}
